version: '3.8'

services:
  db:
    image: postgres:13.0-alpine
    ports:
      - "5432:5432"
    volumes:
      - /var/lib/postgresql/data/
    env_file:
      - .env
  web:
    build:
      context: ../api_yamdb
    restart: always
    volumes:
      - api_yamdb_static:/app/static
      - api_yamdb_media:/app/media
    depends_on:
      - db
    env_file:
      - .env

  nginx:
    image: nginx:1.21.3-alpine

    ports:
      - "80:80"

    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - api_yamdb_static:/var/html/static/
      - api_yamdb_media:/var/html/media/

    depends_on:
      - web

volumes:
  api_yamdb_static:
  api_yamdb_media: